@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*********
HEADER
*********/
.site-header {
    margin-bottom: 20px;
    border-bottom: 2px solid #46494f;
    padding-top: 0;
    padding-bottom: 5px;
    position: relative;
}

.site-branding a h1 {
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    vertical-align: center;
}

.site-branding h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    padding-left: 7px;
}

nav.main-navigation {
    text-align: right;
    margin-top: 35px;
}

.languages {
    margin-right: 35px;
    background: #3e4146;
    padding: 10px;
}

ul.main-menu li {
    display: inline-block;
    margin-left: 10px;
}

.menu-button {
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 13px;
}

.menu-button:hover {
    background: #4e91c9;
    color: #fff;
}

.login-button {
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 13px;
    background-color: #4e91c9;
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.5s;
    opacity: 1;
}

.login-button:hover {
    background-color: #fff;
    border-color: #4e91c9;
    color: #4e91c9;
    opacity: 1;
}

.small-avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 10px 0 #818181;
    border: 2px solid #dfdfdf;
}

.small-avatar:hover {
    opacity: 70%;
}

.ico-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 85px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 89%;
    right: 15px;
}

.ico-dropdown:hover .ico-dropdown-content {
    display: block;
}

.ico-dropdown:hover .small-avatar {
    opacity: 70%;
}

.ico-dropdown-content a {
    display: block;
    color: #b7bcbe;
    background: #46494f;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #a3a3a3;
}

.ico-dropdown-content a:last-child {
    border-bottom: none;
}

.ico-dropdown-content a:hover {
    background: #555;
}

/********
FOOTER
********/

.main-footer {
    position: center;
    padding: 30px 0 30px 0;
    border-top: 2px solid #46494f;
    border-bottom: 2px solid #46494f;
}

.contact {
    padding-right: 40px;
    margin-top: 10px;
}

.main-footer .contact li {
    display: inline-block;
    margin: 0 15px 0 15px;
}

.main-footer .contact li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 15px;
    display: inline-block;
    border: 2px solid #46494f;
}

.main-footer .contact li a:hover {
    background: #4e91c9;
    border-color: #4e91c9;
}

.copyright {
    margin-top: 30px;
    margin-bottom: 30px;
}

.copyright p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

/*****
COMMON
*****/

html {
    font-size: 93.75%;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #32353a;
    font-size: 15px;
    font-weight: 300;
    color: #b7bcbe;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.55;
    text-rendering: optimizeLegibility;
}

p {
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
}

h2 {

    font-family: Montserrat, serif;
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all 100ms ease-in-out;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.generic-list {
    padding-left: 15px;
    padding-right: 15px;
}

.generic-list h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: none;
    padding-left: 10px;
    margin-bottom: 10px;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #4d535b inset;
    -webkit-text-fill-color: #ffffff;
    caret-color: white;
}

.notice {
    font: inherit;
    margin: 20px;
    text-align: center;
}

/*******
HOME
*******/

.home-page {
    margin-bottom: 15px;
}

.home-page h2 {
    color: #fff;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 35px;
}

.home-page p {
    margin-bottom: 32px;
}

.translation {
    position: relative;
    width: 542px;
    height: 306px;
    vertical-align: middle;
}

.ongoing-tournaments {
    padding: 20px;
    background: #46494f;
    margin-bottom: 0;
    position: relative;
    color: #b3b3b3;
}

.ongoing-tournaments h2 {
    color: #fff;
    padding-left: 15px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 300;
}

.home-item {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border: 3px solid #1a1c1f;
    animation-delay: 1s;
    backface-visibility: hidden;
}

.home-item img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #A95BC3;
    text-align: center;
    opacity: 0;
    transition: all 200ms ease-in-out;
    transform: rotate(45deg);
}

.overlay h4 {
    position: relative;
    top: 46%;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #fff;
}

.home-item:hover .overlay {
    opacity: 0.9;
    transform: rotate(0);
}

/*******
LOGIN
*******/

.login-holder {
    background: #46494f;
    margin-bottom: 50px;
}

.one-block-page {
    width: 400px;
    padding: 2% 2% 2%;
    margin: auto;
}

.center-block {
    position: relative;
    z-index: 1;
    background: #3e4146;
    max-width: 400px;
    margin: 10px 10px;
    padding: 45px 45px 10px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.center-block input {
    outline: 0;
    background: #4d535b;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    color: #ffffff;
    box-sizing: border-box;
    font-size: 14px;
}

.center-block input::placeholder {
    color: #acb6c3;
    opacity: 1;
}

.center-block button {
    text-transform: uppercase;
    outline: 0;
    background: #4e91c9;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.center-block button:hover, .center-block button:active, .center-block button:focus {
    background: #5e99c9;
}

.center-block .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.center-block .message a {
    color: #4e91c9;
    text-decoration: none;
}

.center-block .register-form {
    display: none;
}

/********
TABLES
********/

.generic-table {
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto 50px auto;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    text-align: center;
}

.generic-table * {
    position: relative;
    text-align: center;
}

.generic-table thead tr {
    height: 60px;
    background: #3e4146;
}

.generic-table-img {
    height: 40px;
    margin: 10px;
}

.generic-table tbody tr {
    height: 50px;
}

.generic-table-head th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
    text-align: center;
}

.generic-table tbody tr th a {
    display: block;
    font: inherit;
    text-align: center;
    padding-left: 0;
    color: #dadbdc;
}

.generic-table tbody tr {
    font-size: 15px;
    color: #555555;
    background: #dadbdc;
    line-height: 1.2;

}

.generic-table tbody tr:nth-child(even) {
    background: #808080;
    color: #dadbdc;
}

.generic-table tbody tr:nth-child(odd) a {
    color: #555555;
}

.generic-table tbody tr:nth-child(odd):hover {
    background-color: #fffbfb;
    cursor: pointer;
}

.generic-table tbody tr:nth-child(even):hover {
    background-color: #686868;
    cursor: pointer;
}

/***********
PROFILE
***********/

.main-holder {
    background: #46494f;
    font: inherit;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.main-holder h2 {
    margin: 35px 10px 35px 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 24px;
    padding: 0;
}

.avatar-block {
    padding: 0;
    margin: 0 10px 10px 10px;
}

.avatar-block img {
    border: 2px solid #545454;
    border-radius: 2px;
}

.avatar-block img {
    max-width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 5px;
}

.info-block {
    margin: 0 10px 10px 10px;
    padding: 30px 30px 30px 30px;
    background: #3e4146;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    float: right;
}

.info-field {
    background: #4d535b;
    margin-bottom: 15px;
    padding: 15px;
    border: none;
}

.info-field div {
    padding: 0;

}

.update-button {
    cursor: pointer;
    padding-top: 15px;
    background-color: #4e91c9;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s;
    opacity: 1;
    float: right;
    vertical-align: center;
    width: 52px;
    height: 52px;
}

.update-button img {
    max-width: 100%;
}

.long-button img {
    max-height: 100%;
}

.update-button:hover {
    background-color: #1f65c9;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.5s;
}

.long-button {
    height: 50px;
    margin: 10px;
    background-color: #5975c9;
    border: 1px solid #fff;
    color: #fff;

}

.long-button:hover {
    background-color: #7c93c9;
    transition: all 0.5s;
}

.long-button button {
    padding-top: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #4e91c9;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.5s;
    opacity: 1;
    height: 52px;
    vertical-align: middle;
    text-align: center;
}

.long-button:hover {
    background-color: #1f65c9;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.5s;
}

.button-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

.update-button:hover .button-tooltip {
    visibility: visible;
}

.long-button:hover .button-tooltip {
    visibility: visible;
}

.field-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 0;
}

.info-field:hover .field-tooltip {
    visibility: visible;
}

.input-one {
    display: none;
}

.input-two {
    display: none;
}

.info-link {
    border-radius: 2px;
    border: 1px solid #6b6e6b;
    background: #4d535b;
    margin-bottom: 15px;
    padding: 15px;
}

.join-button {
    padding: 15px;
    margin: 0;
    text-align: center;
    background: #A95BC3;
    border: 1px solid #545454;
    border-radius: 4px;
}

.join-button:hover {
    background: #c265c3;
}

#upload-btn {
    position: relative;
    width: auto;
    padding: 10px;
    border: 1px solid #BBB;
    text-align: center;
    background-color: #4e91c9;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 30%;
}

.dropdown-content a {
    display: block;
    color: #4e91c9;
    background: #BBB;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #a3a3a3;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background: #555;
}

.org-logo {
    padding: 0;
    margin: 0 10px 10px 10px;
}

.org-logo img {
    max-width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 5px;
    border: 2px solid #545454;
    border-radius: 2px;
}

.players-number {
    padding: 15px;
    height: 50px;
    color: #aeaaae;
    border: none;
    background: #4d535b;
}

/************
ERROR
**********/

#error {
    position: relative;
    height: 100vh;
    background: white;
}

#error .error {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.error {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.error .inner-error {
    position: relative;
    height: 200px;
    margin: 0 auto 20px;
    z-index: -1;
}

.error .inner-error h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 236px;
    font-weight: 200;
    margin: 0;
    color: #211b19;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.error .inner-error h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    color: #211b19;
    background: #fff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
}

.error a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #4168ff;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.error a:hover {
    background: #4b72ff;
}

/********
BRACKET
 *******/

.bracket-level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
}

.bracket-match-up {
    margin: 10px;
    max-height: 50px;
    height: 100%;
    display: block;
    flex-direction: column;
    justify-content: space-between;
}

.bracket-team {
    width: 100%;
    background-color: #5e5e5e;
    box-shadow: rgba(0, 0, 0, 0.3) 0 10px 10px;
    display: flex;
    flex-direction: row;
    border: 3px solid #a1a1a1;
    border-bottom: none;
}

.bracket-match-up:hover .bracket-team {
    background-color: #565656;
}

.bracket-name {
    width: 75%;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #bfbfbf;
    text-align: center;
    padding: 10px 0;
}

.bracket-score {
    font-size: 14px;
    line-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    color: #bfbfbf;
    text-align: center;
    float: right;
    padding: 30px 0;
}


